body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*Note-App Css Style*/

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1em;
	margin-top: 0;
}

.header h1 {
	font-family: cursive;
	font-weight: bolder;
}

.search {
	background-color: rgb(233, 233, 2333);
	margin-bottom: 2em;
	padding: 5px;
	border-radius: 10px;
}

.search input {
	padding: 5px;
	border: none;
	background-color: rgb(233, 233, 2333);
	font-size: 20px;
}

.search input:focus {
	outline: none;
}

.note.new {
	background-color: #423;
	color: white;
}

textarea {
	border: none;
	resize: none;
	background-color: #423;
	color: white;
	font-size: 16px;
	margin-top: 10px;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #808080;
	color: white;
	padding: 10px 20px;
	margin: 5px;
	border: none;
}

.dark-mode {
	background-color: #031116;
	transition: background-color 0.5s ease-out;
}

.dark-mode h1 {
	color: #fff;
}
.note-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
	background-color: #58a4b0;
	color: #fff;
	border-radius: 20px;
	/*margin-bottom: 10px;*/
	min-height: 170px;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-spacing: pre-wrap;
}
.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-delet {
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
	border: none;
	margin: 1.1em;
	font-size: 16px;
	background-color: #000;
}

.btn-delet:hover {
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
	border: none;
	margin: 1.1em;
	font-size: 16px;
	background-color: #000;
	cursor: pointer;
}
